@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:500&display=swap');

.aboutMeContainer{
    margin: 5% 10%;
}

.julianName{
    font-size: 2vw;
    text-align: center;
    padding-bottom: 2vh;
}

.juliansBlurb{
    padding: 5% 0;
}

.header1{
    padding: 0 0 5% 0;
    font-size: 3vw;
    font-weight: 400;
    font-family: 'Ibarra Real Nova', serif;
}

.aboutMeContent{
    display: grid; 
    background-color: #F4F4F4;
    padding: 30px;
    border-radius: 10px;
}

.aboutMeSubContent{
    display: flex;
    justify-content: space-between;
    color: #5a5a5a;
}

.alignRight{
    font-size: 15px;
}

.lastBit{
    text-align: center;
    font-size: 1.70vw;
    padding-top: 5%; 
    font-family: 'Ibarra Real Nova', serif;
}

.julianPhoto{
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5% 2%;

}

.blurb{
    composes: julianName;
    font-size: 1.4vw;
}

.header2{
    composes: julianName;
    text-align: left;
    font-size: 1.2vw;
}

.servicesOfferedList{
    display: grid;
    grid-template-columns: 60% 60%;
    grid-template-rows: 80% 80% 80%;
    margin: 0 15% 30%;  
}